<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="titulo">Libro de recetas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      Una app con función de recetario, para poder tener en un mismo sitio todas
      las recetas que queremos guardar.
      <br />
      <br />
      Permite guardar info sobre una receta, y poder borrarla, o editarla,
      además de añadir imágenes.
    </p>
  </div>
  <div id="contacto">
    <p>¡Llámame!</p>
    <ion-button (click)="llamadaTel()">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </div>

  <div id="mapId" style="width: 100%; height: 100%"></div>

  <div id="infoCreador">
    <h1>Con ❤️ desde Ubrique</h1>
    <h4>© Jorge Coronil Villalba - 2ºDAW</h4>
    <h4>Para la clase de horas de libre configuración</h4>
  </div>
</ion-content>
