#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.campoEntrada {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

ion-fab-button {
  --background: #b7f399;
  --background-activated: #87d361;
  --background-hover: #a3e681;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

ion-fab {
  margin-bottom: 2em;
  margin-right: 2em;
}

#botonAdd {
  margin-bottom: 8em;
  margin-right: 2em;
}

#botonCompartir {
  margin-bottom: 2em;
  margin-right: 2em;
}

// ----------ESTILOS PARA MÓVIL----------

@media (max-width: 676px) {
  #container {
    top: 50%;
  }

  #botonAdd {
    margin-bottom: 1em;
    margin-right: 6em;
  }

  #botonCompartir {
    margin-bottom: 1em;
    margin-right: 1em;
  }

  #listaRecetas {
    display: inline-block;
    width: 60%;
  }
}
